body
{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

h1
{
  text-align: center;
}

nav
{
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.full-screen
{
  height: 100vh;
  background-image: var(--background);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left
{
  display: flex;
  align-items: right;
  justify-content: right;
  text-align: right;
  color: black;
  margin: 10vw;
  height: 100vh;
}
.left .text
{
  text-align: left;
  width: 50%;
  float: left;
}

form label.required:after
{
    color: red;
    content: " *";
}