body
{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

/* Navigatie bar. */
nav
{
  text-align: center;
  background-color: black;
}
nav a
{
  text-decoration: none;
  color: white;
  font-size: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

/* Segments systeem. */
.full-screen
{
  height: 100vh;
  width: 100vw;
  background-image: var(--background);
  background-size: cover;
  color: white;
  text-align: center;
}
.left
{
  color: black;
  margin: 10vw;
  height: 100vh;
  text-align: left;
}
.left .text
{
  width: 50%;
  float: left;
}
.right
{
  color: black;
  margin: 10vw;
  height: 100vh;
  text-align: right;
}
.right .text
{
  width: 50%;
  float: right;
}

/* Formulier (Contact-pagina) */
form label.required:after
{
    color: red;
    content: " *";
}

/* Algemene content block. */
.content
{
  margin-top: 2vw;
  margin-left: 30vw;
  margin-right: 30vw;

  padding: 2vw;

  color: black;

  font-size: 1vw;
  background-color: rgba(255, 255, 255, 0.75);

  border: 10px white solid;

  -webkit-box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.5); 
  box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.5);
}
.content h1
{
  text-align: center;
}

img.background {
  z-index: -2;

  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}